# filesystem noise
.DS_Store
@eaDir
profile

# build noise
build/*
.*/
xcuserdata
*.code-workspace 

# custom scripts
add_repo.sh
update_docs.sh
update.sh

# customer tasks
custom_tasks.go
tasks/custom
custom.go
