# osx noise
.DS_Store
@eaDir
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
tasks/classified/*
classified.go

#jetbrains
.idea

# svn & cvs
add_repo.sh
update_docs.sh
update.sh
custom_tasks.go
tasks/custom
.svn
CVS

